[submodule "3dparty/glfw"]
	path = 3dparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3dparty/glad"]
	path = 3dparty/glad
	url = https://github.com/Maksasj/glad
[submodule "3dparty/stb"]
	path = 3dparty/stb
	url = https://github.com/nothings/stb
[submodule "3dparty/json"]
	path = 3dparty/json
	url = https://github.com/nlohmann/json
[submodule "3dparty/imgui"]
	path = 3dparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3dparty/miniaudio"]
	path = 3dparty/miniaudio
	url = https://github.com/Maksasj/miniaudio
[submodule "shared/omni_reflector"]
	path = src/shared/omni_reflector
	url = https://github.com/Maksasj/omni_reflector
[submodule "shared/omni_types"]
	path = src/shared/omni_types
	url = https://github.com/Maksasj/omni_types
